::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-name: fade;
}

@keyframes fade {
  from { opacity: 0; }
  to { opacity: 1; }
}